<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
<servlet>
<servlet-name>RegisterServlet</servlet-name>
<servlet-class>RegisterServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>LoginServlet</servlet-name>
<servlet-class>LoginServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>LogoutServlet</servlet-name>
<servlet-class>LogoutServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>DashboardServlet</servlet-name>
<servlet-class>DashboardServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>BookingServlet</servlet-name>
<servlet-class>BookingServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>AdminWorkersServlet</servlet-name>
<servlet-class>AdminWorkersServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>AdminSlotsServlet</servlet-name>
<servlet-class>AdminSlotsServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>AdminRemoveSlotServlet</servlet-name>
<servlet-class>AdminRemoveSlotServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>ToDashboardServlet</servlet-name>
<servlet-class>ToDashboardServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>ServicesServlet</servlet-name>
<servlet-class>ServicesServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>AdminEditSlotServlet</servlet-name>
<servlet-class>AdminEditSlotServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>SendMail</servlet-name>
<servlet-class>SendMail</servlet-class>
</servlet>
<servlet>
<servlet-name>AdminAddSlotServlet</servlet-name>
<servlet-class>AdminAddSlotServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>AdminRemoveWorkerServlet</servlet-name>
<servlet-class>AdminRemoveWorkerServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>AdminEditWorkerServlet</servlet-name>
<servlet-class>AdminEditWorkerServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>AdminAddWorkerServlet</servlet-name>
<servlet-class>AdminAddWorkerServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>BookedServlet</servlet-name>
<servlet-class>BookedServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>ProfileServlet</servlet-name>
<servlet-class>ProfileServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>BookingsServlet</servlet-name>
<servlet-class>BookingsServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>RatedServlet</servlet-name>
<servlet-class>RatedServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>LoginServlet</servlet-name>
<url-pattern>/LoginServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>RegisterServlet</servlet-name>
<url-pattern>/register</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>LogoutServlet</servlet-name>
<url-pattern>/Logout</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>DashboardServlet</servlet-name>
<url-pattern>/dash</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>BookingServlet</servlet-name>
<url-pattern>/book</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>AdminWorkersServlet</servlet-name>
<url-pattern>/AdminWorkers</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>AdminSlotsServlet</servlet-name>
<url-pattern>/AdminSlots</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>AdminRemoveSlotServlet</servlet-name>
<url-pattern>/AdminRemoveSlot</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ToDashboardServlet</servlet-name>
<url-pattern>/Dashboard</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ServicesServlet</servlet-name>
<url-pattern>/Services</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>AdminEditSlotServlet</servlet-name>
<url-pattern>/AdminEditSlot</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>SendMail</servlet-name>
<url-pattern>/SendMail</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>AdminAddSlotServlet</servlet-name>
<url-pattern>/AdminAddSlot</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>AdminRemoveWorkerServlet</servlet-name>
<url-pattern>/AdminRemoveWorker</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>AdminEditWorkerServlet</servlet-name>
<url-pattern>/AdminEditWorker</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>AdminAddWorkerServlet</servlet-name>
<url-pattern>/AdminAddWorker</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>BookedServlet</servlet-name>
<url-pattern>/booked</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ProfileServlet</servlet-name>
<url-pattern>/Profile</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>BookingsServlet</servlet-name>
<url-pattern>/Bookings</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>RatedServlet</servlet-name>
<url-pattern>/Rated</url-pattern>
</servlet-mapping>

<welcome-file-list>
<welcome-file>Register.html</welcome-file>
</welcome-file-list>
</web-app>